/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Variables */
:root {
    --table-background-color: #ffffff;
    --primary-color: #16a2b8;
    --table-border-color: #dee2e6;
    --table-row-hover-color: #e2e6ea;
    --primary-hover-color: #138496;
    --delete-color: #dc3545;
    --delete-hover-color: #c82333;
    --accept-color: #007bff;
    --accept-hover-color: #0069d9;
    --cancel-color: #6c757d;
    --cancel-hover-color: #5a6268;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
}

/* main */
.table-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: var(--table-background-color);
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

.title {
    font-weight: 800;
    line-height: 1.5;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid var(--table-border-color);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

th, td::first-letter {
    text-transform: uppercase;
}

th {
    background-color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--table-background-color);
}

tr:hover {
    background-color: var(--table-row-hover-color);
    transition: background-color 0.2 linear;
}

td img {
    width: 80px;
    scale: 1.3;
    height: auto;
    display: block;
    margin: 0 auto;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    border: none;
    color: var(--table-background-color);
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease, background-color 0.2s ease;
    background-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-hover-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-edit {
    background-color: var(--primary-color);
}

.btn-edit:hover {
    background-color: var(--primary-hover-color);
}

.btn-delete {
    background-color: var(--delete-color);
}
.btn-delete:hover {
    background-color: var(--delete-hover-color);
}

.btn-accept {
    background-color: var(--accept-color);
    display: none;
}

.btn-accept:hover {
    background-color: var(--accept-hover-color);
}

.btn-cancel {
    background-color: var(--delete-color);
    color: var(--table-background-color);
    display: none;
}

.btn-cancel:hover {
    background-color: var(--cancel-hover-color);
}

.fas {
    margin: 0 8px;
}

/* RESPONSIVE */
@media (max-width:1200px) {
    .table-content {
        width: 90%;
    }
}
@media (max-width:910px) {
    .table-content {
        width: 100%;
    }
}
@media (max-width:549px) {
    body {
        width: auto;
        padding: 0;
        margin: 20px 0;
    }
    .table-content {
        width: min-content;
    }
}